<style type="text/css">

    section {
        position: relative;
        border: 1px solid #000;
        padding-top: 37px;
        background: rgba(82, 85, 84, 0.57);
    }
    section.positioned {
        position: absolute;
        top:100px;
        left:100px;
        width:800px;
        box-shadow: 0 0 15px #333;
    }
    .container {
        overflow-y: auto;
        height: 200px;
    }
    table {
        border-spacing: 0;
        width:100%;
    }
    td + td {
        border-left:1px solid #eee;
    }
    td, th {
        border-bottom:1px solid #eee;
        background: #ddd;
        color: #000;
        padding: 10px 25px;
    }
    th {
        height: 0;
        line-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        color: transparent;
        border: none;
        white-space: nowrap;
    }
    th div{
        position: absolute;
        background: transparent;
        color: #151515;
        padding: 9px 25px;
        top: 0;
        margin-left: -25px;
        line-height: normal;
        border-left: 1px solid #151515;
    }
    th:first-child div{
        border: none;
    }

</style>

<h2>Shopkins Vieweer</h2>
{{ vm.message }}

<br>
{{ vm.show }}

<section class="">
    <div class="container">
        <table class='CSSTableGeneratorX'>
            <thead>
            <tr class="header">
                <th>RC<div>RC</div></th>
                <th>Revision<div>Revision</div></th>
                <th>Author<div>Author</div></th>
                <th>Date<div>Date</div></th>
                <th>Comment<div>Comment</div></th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="log in vm.getLogs(-1) track by $index | filter : -1">
                <td>{{ log.RC}}</td>
                <td>{{ log.revision }}</td>
                <td>{{ log.author}}</td>
                <td>{{ log.date}}</td>
                <td><a href="https://rally1.rallydev.com/#/search?keywords={{ log.msg}}">{{ log.msg}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>